<div class="container mt-5">
  <div class="row">
    <div class="col">
      <% if(msg.length !== 0){ %>
      <div class="alert alert-success alert-dismissible fade show d-grid text-start" role="alert"><%= msg %> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
      <% } %>
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item active-pill" id="my-account-pill">
              <a class="btn nav-link no-margin" href="#">My Account</a>
            </li>
            <li class="nav-item" id="my-address-pill">
              <a class="nav-link no-margin" href="#">My Address</a>
            </li>
            <li class="nav-item" id="change-password-pill">
              <a class="nav-link no-margin" href="#">Change Password</a>
            </li>
          </ul>
        </div>
        <div class="card-body" id="my-account-card">
          <div class="row">
            <div class="col-md-3">
              <div class="card p-4 shadow-sm">
                <img class="rounded-circle" src="/img/blank-pp.png" alt="userpp" id="my-acc-profile-pic" />
                <button type="submit" class="btn btn-primary mt-5">Change Profile Picture</button>
              </div>
            </div>
            <div class="col text-start">
              <h3 class="fw-bold">My Account</h3>
              <form action="/myaccount?_method=PUT" method="POST">
                <div class="row mt-4">
                  <div class="col-md-3">
                    <label for="myaccount-username" class="col-form-label">Username</label>
                  </div>
                  <div class="col"><input type="text" id="myaccount-username" class="form-control" name="username" disabled value="<%= user.username?user.username:""%>"/></div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-3">
                    <label for="myaccount-name" class="col-form-label">Name</label>
                  </div>
                  <div class="col"><input type="text" id="myaccount-name" class="form-control" name="name" value="<%= user.name?user.name:""%>" required/></div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-3">
                    <label for="myaccount-email" class="col-form-label">Email</label>
                  </div>
                  <div class="col">
                    <input type="hidden" id="old-email" class="form-control" name="oldemail" value="<%= locals.oldemail?oldemail:user.email%>" required /> <input type="text" id="myaccount-email" class="form-control" name="email" value="<%=
                    user.email?user.email:""%>" required/>
                    <div id="emailHelp" class="form-text text-danger"><% errors.forEach(error => { %> <% if(error.param === "email") {%> <%= error.msg %><% } %> <% }) %></div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-3">
                    <label for="myaccount-birthdate" class="col-form-label">Date of Birth</label>
                  </div>
                  <div class="col">
                    <% let month; let day; if(user.dateofbirth){ day = (user.dateofbirth.getDate() < 10?'0':'') + user.dateofbirth.getDate(); month = (user.dateofbirth.getMonth()+1 < 10?'0':'') + (user.dateofbirth.getMonth()+1);}%>
                    <input type="date" id="myaccount-birthdate" class="form-control" name="dateofbirth" value="<%if(user.dateofbirth){%><%=`${user.dateofbirth.getFullYear()}-${month}-${day}`%><%}%>" />
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-3">
                    <label for="myaccount-phone" class="col-form-label">Phone</label>
                  </div>
                  <div class="col">
                    <input type="text" id="myaccount-phone" class="form-control" name="phone" value="<%= user.phone?user.phone:""%>"/>
                    <div id="phoneHelp" class="form-text text-danger"><% errors.forEach(error => { %> <% if(error.param === "phone") {%> <%= error.msg %><% } %> <% }) %></div>
                  </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                  <button class="btn btn-primary" type="submit">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body d-none text-start" id="my-address-card">
          <h3 class="fw-bold">My Address</h3>
          <form action="/myaccount/edit-address?_method=PUT" method="POST">
            <textarea name="address" id="address" cols="30" rows="8" style="resize: none" class="form-control mt-4" required><%= user.address?user.address:""%></textarea>
            <div class="d-flex justify-content-end mt-4">
              <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>
          </form>
        </div>
        <div class="card-body d-none text-start" id="change-password-card">
          <h3 class="fw-bold">Change Password</h3>
          <form action="/myaccount/change-password?_method=PUT" method="POST">
            <div class="row mt-4">
              <div class="col-md-3">
                <label for="myaccount-new-password" class="col-form-label">New Password</label>
              </div>
              <div class="col">
                <input type="password" id="myaccount-new-password" class="form-control" name="password" autocomplete="new-password" />
                <div id="passwordHelp" class="form-text text-danger"><% errors.forEach(error => { %> <% if(error.param === "password") {%> <%= error.msg %><% } %> <% }) %></div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-3">
                <label for="myaccount-confirm-password" class="col-form-label">Confirm New Password</label>
              </div>
              <div class="col">
                <input type="password" id="myaccount-confirm-password" class="form-control" name="confirm-password" autocomplete="new-password" />
                <div id="confirmPasswordHelp" class="form-text text-danger"><% errors.forEach(error => { %> <% if(error.param === "confirm-password") {%> <%= error.msg %><% } %> <% }) %></div>
              </div>
            </div>
            <div class="d-flex justify-content-end mt-4">
              <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/script.js"></script>
