<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body" style="font-size: 1.1em">
          <h3>Order Detail</h3>
          <hr />
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Id</label>
            </div>
            <div class="col">
              <div><%= order.id %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Username</label>
            </div>
            <div class="col">
              <div><%= order.username %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Products</label>
            </div>
            <div class="col">
              <div><% (order.products).forEach(product => { %> <%= product.name %>; <% }) %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">User Phone</label>
            </div>
            <div class="col">
              <div><% (order.userinfo).forEach(userinfo => { %> <%= userinfo.phone %> <% }) %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">User Address</label>
            </div>
            <div class="col">
              <div><% (order.userinfo).forEach(userinfo => { %> <%= userinfo.address %> <% }) %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Delivery Option</label>
            </div>
            <div class="col">
              <div><%= order.deliveryOption %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Timestamp</label>
            </div>
            <div class="col">
              <div><%= order.timestamp %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Payment Method</label>
            </div>
            <div class="col">
              <div><%= order.paymentMethod %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Payment Status</label>
            </div>
            <div class="col">
              <div><%= order.paymentStatus %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Product Ready Status</label>
            </div>
            <div class="col">
              <div><%= order.productReadyStatus %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">deliveredStatus</label>
            </div>
            <div class="col">
              <div><%= order.deliveredStatus %></div>
            </div>
          </div>
          <div class="row align-items-center mt-3">
            <div class="col d-grid">
              <a href="/admin-home/change-payment-status/<%= order.username %>" class="btn btn-primary">Confirm Payment</a>
              <a href="/admin-edit/<%= order.id %>" class="btn btn-primary mt-2">Edit Statuses</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
