<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body" style="font-size: 1.1em">
          <h3>Order Detail</h3>
          <hr />
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Id</label>
            </div>
            <div class="col">
              <div><%= order.id %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Username</label>
            </div>
            <div class="col">
              <div><%= order.username %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Products</label>
            </div>
            <div class="col">
              <div><% (order.products).forEach(product => { %> <%= product.name %>; <% }) %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">User Phone</label>
            </div>
            <div class="col">
              <div><% (order.userinfo).forEach(userinfo => { %> <%= userinfo.phone %> <% }) %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">User Address</label>
            </div>
            <div class="col">
              <div><% (order.userinfo).forEach(userinfo => { %> <%= userinfo.address %> <% }) %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Delivery Option</label>
            </div>
            <div class="col">
              <div><%= order.deliveryOption %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Timestamp</label>
            </div>
            <div class="col">
              <div><%= order.timestamp %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Payment Method</label>
            </div>
            <div class="col">
              <div><%= order.paymentMethod %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Account Number</label>
            </div>
            <div class="col">
              <div><%= order.accountNumber?order.accountNumber:"" %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Account Name</label>
            </div>
            <div class="col">
              <div><%= order.accountName?order.accountName:"" %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Total Payment</label>
            </div>
            <div class="col">
              <div><%= order.grandTotal.toLocaleString() %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Payment Status</label>
            </div>
            <div class="col">
              <div><%= order.paymentStatus %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">Product Ready Status</label>
            </div>
            <div class="col">
              <div><%= order.productReadyStatus %></div>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-md-2">
              <label for="inputPassword6" class="col-form-label fw-bold">deliveredStatus</label>
            </div>
            <div class="col">
              <div><%= order.deliveredStatus %></div>
            </div>
          </div>
          <div class="row align-items-center mt-3">
            <div class="col d-grid">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirm Payment</button>
              <a href="/admin-edit/<%= order.id %>" class="btn btn-primary mt-2">Edit Statuses</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure to confirm this user's payment?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/admin-home/change-payment-status/<%= order.id %>" class="btn btn-primary">Confirm Payment</a>
      </div>
    </div>
  </div>
</div>
