<div class="container mt-5">
  <div class="row">
    <h3 class="fw-bold">My Cart</h3>
    <div class="col">
      <% (carts.products).forEach(item => { %>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3">
            <a href="/products/<%= item.id %>"><img src="/img/products-img/<%= item.image %>" class="rounded-start cart-img" alt="..." /></a>
          </div>
          <div class="col">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title"><%= item.name %></h5>
                  <h4 class="card-text fw-bold">Total: Rp <%= (item.price*item.quantity).toLocaleString() %></h4>
                </div>
                <div class="col-md-1 d-flex align-items-center">
                  <h2 class="fw-bold">x<%= item.quantity %></h2>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col text-end">
                  <form action="/cart/delete" method="POST">
                    <input type="hidden" value="<%= item.username %>" name="username" />
                    <input type="hidden" value="<%= item.id %>" name="product_id" />
                    <input type="hidden" value="<%= item.price %>" name="price" />
                    <input type="hidden" value="<%= item.quantity %>" name="quantity" />
                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="fw-bold">Check Out</h4>
          <div class="row mt-3">
            <div class="col">
              <h5>Grand Total:</h5>
            </div>
            <div class="col">
              <h5 class="text-end fw-bold">Rp <%= carts.grandTotal.toLocaleString() %></h5>
            </div>
          </div>
          <div class="d-grid mt-2">
            <a href="/payment" class="btn btn-primary mt-1">Go to Payment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
