<div class="container mt-5">
  <div class="row jumbo">
    <div class="col">
      <div class="card jumbotron p-5" style="background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url('/img/assortment-pieces-cake.jpg')">
        <h2><span style="color: #80489c">Discover</span> your taste.</h2>
        <h5 class="lead">Our products are made with the best quality ingredients and lots of love!</h5>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h3 class="fw-bold">Kategori</h3>
        </div>
        <div class="card-body">
          <div class="btn btn-category d-grid text-start fw-bold category-basah" id="category-basah">
            <div><i class="fa-solid fa-cake-candles me-2"></i>Kue Basah</div>
          </div>
          <div class="btn btn-category d-grid text-start fw-bold mt-2 category-kering" id="category-kering">
            <div><i class="fa-solid fa-cookie-bite me-2"></i>Kue Kering</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-flex flex-wrap">
      <% products.forEach(product => { %>
      <a href="/products/<%= product._id %>" class="card product-card me-3 mb-3" style="text-decoration: none; color: rgb(81, 81, 81)">
        <img src="/img/products-img/<%= product.image %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title fw-bold" style="color: #80489c"><%= product.product_name %></h5>
          <h5 class="card-subtitle fw-bold">Rp <%= product.price.toLocaleString() %></h5>
          <p class="card-text excerpt mt-2"><%= product.short_description %></p>
          <div class="">
            <div class="btn btn-category badge"><i class="fa-solid <% if (product.category === "kue basah"){ %>
              fa-cake-candles
            <% } else {%> fa-cookie-bite <% } %>  me-2"></i><%= product.category %></div>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</div>
<script src="/js/script2.js"></script>
